<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stile/cignoli1.css">
</head>

<body>
    <h1>Analisi vendite - Cignoli Automotive Group</h1>

    <section id="grafici">
        <h2>Analisi delle Vendite dal 2000 al 2024</h2>
        <div class="content">
            <div class="grafico">
                <img src="asset/graf1.png" alt="Grafico 1">
            </div>
            <div class="testo">
                <h3>Report Grafico 1</h3>
                <p>Il grafico mostra l'andamento delle vendite di auto dal 2000 al 2024.</p>
                <p>Nel 2024, il mercato automobilistico italiano si dipinge con tinte di Fiat, che regna sovrana con
                    oltre 60.000 unità vendute, staccando nettamente i rivali. Volkswagen e Ford si inseguono al secondo
                    e terzo posto, con circa 55.000 e 45.000 unità vendute rispettivamente.
                    Tra i protagonisti di questa corsa, Hyundai brilla per il tasso di crescita più alto, attestato al
                    15%, mentre Alfa Romeo vive un momento di difficoltà, registrando un calo del 10%.
                    Le auto compatte, pratiche e versatili, si confermano il segmento più gettonato, seguite da SUV e
                    berline.
                    Nonostante il dominio di Fiat, il mercato mostra una buona vivacità, con una domanda che abbraccia
                    tutti i tipi di marche e modelli.
                    Le previsioni per il futuro sono positive: il mercato automobilistico dovrebbe continuare a crescere
                    nei prossimi anni, alimentato da innovazioni tecnologiche e da una domanda sempre più attenta alla
                    sostenibilità.
                    Tuttavia, per una visione completa, è importante allargare lo sguardo oltre i confini nazionali e
                    analizzare i dati di vendita di altri paesi, ottenendo così un quadro più sfumato del panorama
                    automobilistico globale.</p>
            </div>
        </div>
    </section>

    <section id="testo">
        <h2>Analisi delle Vendite in Italia per Marca (2000 - 2012)</h2>
        <div class="content">
            <div class="testo">
                <h3>Report Grafico 2.1</h3>
                <p>Dal 2000 al 2012 troviamo un periodo ricco di cambiamenti e sorpassi, con alcune marche che
                    hanno consolidato il loro dominio mentre altre hanno perso terreno.</p>
                <p>Il decennio 2000-2012 è stato un periodo di grandi cambiamenti per il mercato automobilistico
                    italiano. Fiat ha perso la sua leadership indiscussa, mentre Volkswagen è emersa come nuova regina
                    del mercato. Le auto compatte e i SUV sono diventati sempre più popolari, mentre nuovi competitor
                    hanno aumentato la concorrenza. Il futuro del mercato automobilistico italiano è incerto, ma è
                    probabile che le tendenze emerse in questo decennio continueranno a influenzare il settore nei
                    prossimi anni.
                    Nel 2000, Fiat era la regina indiscussa del mercato italiano, con una quota di mercato del 32,6%. La
                    sua leadership è rimasta solida per la maggior parte del decennio, con un picco del 35,1% raggiunto
                    nel 2004. Tuttavia, a partire dal 2007, Fiat ha iniziato a perdere terreno, subendo un calo costante
                    della sua quota di mercato fino al 22,3% nel 2012.
                    Il principale rivale di Fiat in questo periodo è stato Volkswagen. La casa automobilistica tedesca
                    ha visto una crescita costante della sua quota di mercato, passando dal 12,8% del 2000 al 23,2% del
                    2006, anno in cui ha superato Fiat per la prima volta. Volkswagen ha mantenuto la sua leadership per
                    il resto del decennio, raggiungendo un picco del 25,4% nel 2011.
                    Tra le altre protagoniste del mercato figurano Ford, Renault e Toyota. Ford ha mantenuto una quota
                    di mercato stabile intorno al 10% per la maggior parte del decennio, con un picco del 12,1% nel
                    2004. Renault ha visto un calo costante della sua quota di mercato, passando dal 15,2% del 2000 al
                    9,4% del 2012. Toyota, invece, ha registrato una crescita costante, passando dal 5,1% del 2000 al
                    7,9% del 2012.</p>
            </div>
            <div class="grafico">
                <!-- Inserisci qui il tuo grafico -->
                <img src="asset/graf2.png" alt="Grafico 2">
            </div>
        </div>
    </section>

    <section id="testo">
        <h2>Analisi delle Vendite in Italia per Marca (2013 - 2023)</h2>
        <div class="content">
            <div class="testo">
                <h3>Report Grafico 2.2</h3>
                <p>In questo periodo, il mercato delle auto elettriche ha registrato una crescita impetuosa, con un
                    aumento del 348% tra il 2019 e il 2023.</p>
                <p>Il mercato delle auto elettriche in Italia è in forte espansione e ha registrato una crescita
                    impetuosa negli ultimi anni. Questa crescita è dovuta a una serie di fattori, tra cui gli incentivi
                    statali, l'aumento dell'offerta di modelli sul mercato e la crescente consapevolezza dei
                    consumatori. Il futuro del mercato delle auto elettriche in Italia appare roseo, con una crescita
                    prevista nei prossimi anni.
                    Nel 2019, le vendite di auto elettriche in Italia ammontano a 23.728 unità. Si tratta di un numero
                    ancora relativamente basso, ma che rappresenta già un primo passo verso la mobilità sostenibile.
                    Il 2020 segna un punto di svolta per il mercato delle auto elettriche in Italia. Le vendite
                    raddoppiano rispetto all'anno precedente, raggiungendo le 47.442 unità. Questo aumento è dovuto a
                    una serie di fattori, tra cui gli incentivi statali, l'aumento dell'offerta di modelli sul mercato e
                    la crescente consapevolezza dei consumatori sui benefici delle auto elettriche.
                    Nel 2022, le vendite di auto elettriche in Italia superano per la prima volta quelle di auto ibride.
                    Le auto elettriche raggiungono le 86.026 unità, mentre le auto ibride si attestano a 82.640 unità.
                    Questo sorpasso rappresenta un ulteriore segnale della crescente popolarità delle auto elettriche.
                </p>
            </div>
            <div class="grafico">
                <!-- Inserisci qui il tuo grafico -->
                <img src="asset/graf3.png" alt="Grafico 2">
            </div>
        </div>
    </section>

</body>

</html>