<div class="flex-container">
    <h1>Cignoli Automotive Group login page</h1>
    <img src="asset/lock.jpg" alt="Login Lock" class="login-image">
</div>


<form action="index.php?r=1" method="post" class="login-form">
    <div class="form-group">
        <label for="user">Username:</label>
        <input type="text" id="user" name="user" class="form-control" />
    </div>
    <div class="form-group">
        <label for="pass">Password:</label>
        <input type="password" id="pass" name="pass" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Log In" class="login-button" />
    </div>
</form>

<div class="testo-login">

    <p>Questa è l'area riservata agli amministratori della Cignoli Automotive Group, dove potete accedere in modo sicuro
        e gestire le operazioni aziendali in modo efficiente.</p>

    <p>Qui potete accedere a una serie di strumenti e risorse esclusive progettate per semplificare la gestione dei
        dati, monitorare le performance e coordinare le attività aziendali.</p>

    <p>In caso di smarrimento della password, siete pregati di contattare il nostro affidabile team di supporto tecnico.
        Potete inviare una richiesta di assistenza tramite email al nostro dipartimento competente all'indirizzo
        <span style="color: red; text-decoration: underline;">supporto@cignoli-automotive.com</span>
        Il nostro team sarà pronto ad assistervi nel recupero delle credenziali o nel
        risolvere qualsiasi altra problematica tecnica.
    </p>

    <p>Vi ringraziamo per la vostra collaborazione e per l'utilizzo dei nostri servizi per contribuire al successo della
        Cignoli Automotive Group</p>
</div>

