<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stile/cignoli1.css" type="text/css">
    <script src="javascript/funzioni.js"></script>
</head>

<header>
    <nav class="navbar">
        <ul class="nav-menu">
            <li><a href="index.php?r=1">Home</a></li>
            <li><a href="index.php?r=2">Associazione</a></li>
            <li><a href="index.php?r=10">Proprietario</a></li>
            <li><a href="index.php?r=20">Concessionaria</a></li>
            <li><a href="index.php?r=30">Automobile</a></li>
            <li><a href="index.php?r=102">Statistiche</a></li>
            <li><a href="index.php?r=101">Logout</a></li>
        </ul>
    </nav>
</header>
</html>


